<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	include main.html
	<script src="main.js" charset="utf-8"></script>
	<!-- El main.js tiene que estar a la altura de server, por eso no ponemos en la ruta la carpeta src  -->

</body>
</html>
